<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.xianwan.sdklibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!-- SD卡创建与删除权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- DownloadManager -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <application>
        <activity
            android:name="com.xianwan.sdklibrary.view.AdListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SdkAppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name="com.xianwan.sdklibrary.view.DownLoadService"
            android:exported="false" />

        <receiver
            android:name="com.xianwan.sdklibrary.view.DownLoadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.xianwan.sdklibrary.util.XWProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />

        </provider>

        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="${applicationId}.fileprovider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true"-->
            <!--&gt;-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/file_paths"-->
                <!--/>-->
        <!--</provider>-->
    </application>

</manifest>